includes:
    - vendor/spryker-sdk/phpstan-spryker/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 6
    paths:
        - src/

    excludePaths:
        - '%rootDir%/../../../src/Kernel.php'

    reportUnmatchedIgnoredErrors: false
