{% extends '/templates/page-layout-main/page-layout-main.twig' %}

{% block content %}

   <div>
       <h3 class="text-white text-[24px] font-bold pb-6 pt-4 sm:pt-0">Einstellungen</h3>
        Username:
        Email:
        Password Hash:
   </div>

{% endblock %}
